/* modificações no bootstrap */
html:focus-within{
    scroll-behavior: smooth !important;
}

.text-white{
    color: #f3f3f3 !important;
}

body{
    color:black;
}

.nav-link{
    color: #f7f7f7 !important; 
}

.show{
    color: #f7f7f7 !important;

}

/* scroll up */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: #8f729e;
    opacity: .8;
    padding:  0 .3rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
}

.scrollup:hover{
    background-color: #684E70;
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #F5F5F5;
}


/* show scroll */
.show-scroll{
    bottom: 5rem;
}




.custom-control-input:focus~.custom-control-label::before {
    border-color: #E55175 !important;
    box-shadow: none !important;
}
  
.custom-control-input:checked~.custom-control-label::before {
    border-color: #E55175 !important;
    background-color: #E55175 !important;
}
  
.custom-control-input:active~.custom-control-label::before {
    background-color: #f7bdc9 !important;
    border-color: #E55175 !important;
}
  
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #E55175 !important;
}
  
.custom-control-input-green:not(:disabled):active~.custom-control-label::before {
    background-color: #E55175 !important;
    border-color: #E55175 !important;
}

.box {
    height: 200px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid #666;
    padding: 6px 0px;
    background: #ccc;
  }
  
  .box-content {
    height: 200px;
    width: 250px;
    overflow: auto;
    border-radius: 8px;
  }

  
.cardH:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(229, 81, 117,.12), 0 4px 8px rgba(229, 81, 117,.06);
}
/* h1,h2,h3,h4,h5{
    color:#752639;
} */

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 3em; /* this needs to be bigger than footer height*/
}
  
.footer {
    position: relative;
    margin-top: -1em; /* negative value of footer height */
    height: 4em;
    clear: both;
    padding-top:1em;
    color: #f7f7f7;
    font-weight: bolder;
} 

footer a:hover{
    text-decoration: none;
    color: #E55175;
}